@use 'sass:string';
@use '@/assets/variables' as vars;

@use '~bootstrap/scss/bootstrap' with (
	$primary: vars.$app-blue,
	$secondary: vars.$app-grey2,
	$warning: vars.$app-orange,
	$btn-border-radius: 1.5rem,
	$btn-padding-y: .6rem,
	$btn-padding-x: 1.6rem,
	$dropdown-border-radius: 0,
	$dropdown-border-color: vars.$app-grey,
	$alert-border-radius: 0,
	$btn-close-color: vars.$app-blue,
	$modal-content-border-radius: 0,
	$breadcrumb-divider-color: vars.$app-orange,
	$breadcrumb-active-color: vars.$app-grey2,
);
@use '~bootstrap-icons/font/bootstrap-icons' with (
	$bootstrap-icons-font-dir: "~bootstrap-icons/font/fonts"
);

@use '@/assets/header';
@use '@/assets/breadcrumb';
@use '@/assets/menu';

body {
	background-color: string.unquote(vars.$app-grey + '75');
}